@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }