

<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" routerLink="/" routerLinkActive="active">
        <img src="assets/ico.jpg" alt="Logo" width="30" height="30" class="me-2">
        CustomerReach
      </a>
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a  routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/signup" routerLinkActive="active" class="nav-link">Register</a>
          </li>
        </ul>
    </div>
  </nav>
  
  <section class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Welcome to the Customer Management System</h1>
          <p>Manage your customers with ease.</p>
          <a class="btn btn-primary" routerLink="/login">Get Started</a>
        </div>
        <div class="col-md-6">
          <img src="assets/crm.jpeg" alt="Student Management System" style = "max-width: 100%; float: right;" >
        </div>
      </div>
    </div>
  </section>
  
    <footer class="footer">
      <div class="container">
          <span>All rights reserved 2023 @ShrijanaKarki </span>
      </div>
  </footer> 