<app-navbar></app-navbar>
<div class="customer-details-container">
    <h3>Customer Details</h3>
    <div class="customer-table">
        <table class="table table-striped">
            <tr>
                <th>UserName</th>
                <td>{{customer.username}}</td>
            </tr>
            <!-- <tr>
                <th>Last Name</th>
                <td>{{customer.lname}}</td>
            </tr> -->
            <tr>
                <th>Email</th>
                <td>{{customer.email}}</td>
            </tr>

            <tr>
                <th>Contact Number</th>
                <td>{{customer.contact}}</td>
            </tr>

            <tr>
                <th>Address</th>
                <td>{{customer.address}}</td>
            </tr>
        </table>
    </div>
</div>

<app-footer> </app-footer>