<app-navbar></app-navbar>

<section class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Welcome to the Customer Management System Dashboard</h1>
          <!-- <p>Manage students, courses, and grades with ease.</p> -->
          <a class="btn btn-primary" routerLink="/dashboard/customers">View Customers</a>
        </div>
        <div class="col-md-6">
          <img src="assets/crm.jpeg" alt="Student Management System" style = "max-width: 100%; float: right;" >
        </div>
      </div>
    </div>
  </section>
  
<app-footer></app-footer>







